label {
    color: gold;
    text-shadow: gold 0 0 0.4rem;
}

input {
    background-color: #333333;
    color: #CCCCCC;
    font-size: 100%;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: gold 1px solid;
    box-shadow: gold 0 0 0.4rem;
}

textarea {
    background: #333333;
    color: #CCCCCC;
    size: 1rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: gold 1px solid;
    box-shadow: gold 0 0 0.4rem;
}

hr {
    color: goldenrod;
    box-shadow: goldenrod 0 0 0.4rem;
}

.submit-button {
    scale: 120%;
    margin: 0.6rem;
}