label {
    color: var(--gold-color);
    text-shadow: var(--gold-color) 0 0 0.4rem;
}

input {
    background-color: #333333;
    color: #CCCCCC;
    font-size: 100%;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: var(--gold-color) 1px solid;
    box-shadow: var(--gold-color) 0 0 0.4rem;
}

textarea {
    background: #333333;
    color: #CCCCCC;
    size: 1rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: var(--gold-color) 1px solid;
    box-shadow: var(--gold-color) 0 0 0.4rem;
}

hr {
    color: var(--goldenrod-color);
    box-shadow: var(--goldenrod-color) 0 0 0.4rem;
}

.submit-button {
    scale: 120%;
    margin: 0.6rem;
}