* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gold;
}

header {
    background-color: #222;
    color: #eee;
    padding: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color:gold;
}

hr {
    margin: 5px 0px 2px;
    color: gold;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    background-color: #eee;
    padding: 2rem;
    border: black 5px dashed;
    border-radius: 1rem;
}

h1 {
    color: black;
    text-shadow: 0rem 0rem 0.4rem gold;
    margin-top: -0.1rem;
}

h2 {
    color: #531;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.about {
    background-color: wheat;
    font-size: 120%;
    font-style: italic;
}

section {
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 0.4rem rgba(0,0,0,0.2);
    transition: 0.2s ease;
}

section:hover {
    translate: 0 -0.2rem;
    box-shadow: 0px 0.2rem 0.6rem rgba(0,0,0,0.2)
}

.about-name {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.about-role, .about-statement {
    font-size: 80%;
    font-weight: bold;
}

.about-statement {
    color: black;
    font-weight: normal;
}

.view-buttons {
    margin-left: auto;
    margin-right: auto;
}

.information {
    background-color: antiquewhite;
}

button {
    padding: 1rem;
    margin: 2rem 2rem 0rem;
    display: inline-block;
    font-size: 150%;
    transition: 0.1s ease;
    font-weight: bold;
}

button:hover {
    scale: 1.05;
    background-color: white;
    color: black
}

button:focus {
    scale: 1.05;
    outline-color: cyan;
    outline-width: 3px;

}

.view-projects {
    background-color: green;
    border: 2px black solid;
    color: white;
    border-radius: 1rem;
    ;
}

.view-github {
    background-color: indigo;
    border: 2px black solid;
    color: white;
    border-radius: 1rem;
}

.projects {
    background-color: bisque;
}

h3 {
    margin-top: 1rem;
    color: #741
}

.project-link {
    margin: 1rem 0;
    color: darkgoldenrod;
    text-decoration: none;
}

.project-link:hover {
    color: goldenrod
}

.project-link:focus {
    border: 2px cyan solid;
}

.project-link:visited {
    color: olive;
}

.project-link:active {
    color:gold;
}

.diary {
    background-color: khaki;
}

.diary-para {
    margin-bottom: 1rem;
}

.skills {
    background-color: blanchedalmond;
}

.contact {
    background-color: burlywood;
}

.contact-box {
    background-color: black;
    padding: 0.3rem;
    display: inline-block;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
}

.contact-link {
    color: gold;
    text-decoration: none;
}

.contact-link:hover {
    color:antiquewhite;
    text-decoration: underline;
}

.contact-link:visited {
    color: goldenrod;
}

.contact-link:focus {
    border: 2px cyan solid;
}

.contact-link:active {
    color:white;
}

.skills-list {
    margin: 1rem;
}

code {
    font-size: 120%;
}