/* basic color and theming definitons */
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

:root {
    --glow-style: currentcolor 0 0 0.6rem;
    --back-background-color: #202128;
    --background-color: #232534;
    --text-color: #c4cdde;
    --background-border: #3a3c50;

    --regular-border: #54566d;
    --regular-container: #303244;

    --button-color: #42455b;
    --button-color-hover: #61647f;
    --button-color-active: #2c2f42;
    --button-color-disabled: #202232;
    --button-border-color: #5e617b;
    
    --golden-color: #ffbb32;
    --golden-color-dark: #d68f1b;
    --golden-color-light: #ffed77;

    --eternity-color: #B341E0;

    --blue-color: #1e93d7;
}

.light-theme {
    --glow-style: color-mix(in srgb, currentcolor 40%, transparent) 0 0 0.6rem;
    --back-background-color: #b8bbcc;
    --background-color: #d5d7e6;
    --text-color: #3f435a;
    --background-border: #8587a4;

    --regular-border: #999bb8;
    --regular-container: #cdcfe4;

    --button-color: #aeb1c6;
    --button-color-hover: #d1d3e3;
    --button-color-active: #868aa3;
    --button-color-disabled: #616378;
    --button-border-color: #8c8fa8;

    --golden-color: #9e5f00;
    --golden-color-dark:#613713;
    --golden-color-light: #5d3800;

    --eternity-color: #8623ad;

    --blue-color: #0e6da3;
}

.no-glow {
    --glow-style: none;
}

.gold-color {
    color: var(--golden-color);
    text-shadow: var(--glow-style);
}

.gold-color-dark {
    color: var(--golden-color-dark);
    text-shadow: var(--glow-style);
}

.gold-color-light {
    color: var(--golden-color-light);
    text-shadow: var(--glow-style);
}

.eternity-color {
    color: var(--eternity-color);
    text-shadow: var(--glow-style);
}

/* document elements */

body {
    font-family: "Oxygen Mono", monospace;
    background-color: var(--back-background-color);
    color: var(--text-color);
    line-height: 1.4;
    font-size: 110%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74%;
    padding: 1%;
    margin: auto;
    border: var(--background-border) 1px solid;
    background-color: var(--background-color);
    box-shadow: var(--glow-style);
}

div {
    margin: 0%;
    padding: 0%;
}

.page-navigation {
    font-size: 110%;
    margin-left: 1%;
    text-shadow: var(--glow-style);
}

.theming-buttons {
    display: flex;
    flex-direction: row;
    margin: 0.1rem;
}

main {
    width: 70%;
    padding: 3%;
    margin: 2rem auto;
    border: var(--background-border) 1px solid;
    background-color: var(--background-color);
    box-shadow: var(--glow-style);
}

h1, h2, h3 {
    color: var(--golden-color);
    text-shadow: var(--glow-style);
    border-bottom: var(--golden-color) 2px dashed;
}

hr {
    margin-bottom: 2rem;
}

li {
    margin: 1rem 0;
}

button {
    font-family: 'Oxygen Mono', monospace;
    background-color: var(--button-color);
    color: var(--text-color);
    border: var(--button-border-color) 1px solid;
    padding: 0.4rem;
    font-size: 100%;
}

button:hover {
    background-color: var(--button-color-hover);
    box-shadow: var(--glow-style);
}

button:active {
    background-color: var(--button-color-active);
    box-shadow: var(--glow-style);
}

button:disabled {
    background-color: var(--button-color-disabled);
}

button:focus {
    outline: 2px solid var(--blue-color);
}

.glow-button {
    text-shadow: var(--glow-style);
}

#light-dark-button, #glow-button {
    width:40%;
    margin-left: 1rem;
    font-size: 110%;
    line-height: 100%;
    text-align: center;
}

a {
    color: var(--golden-color);
    text-decoration: none;
}

a:hover {
    color: var(--golden-color-light);
    text-decoration: underline;
}

a:active {
    color: var(--blue-color);
}

a:visited {
    color: var(--golden-color);
}

a:focus {
    outline: 2px solid var(--blue-color);
}

.project-container {
    width: 29%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: var(--regular-border) 1px solid;
    background-color: var(--regular-container);
    padding: 1.3rem;
    box-shadow: var(--glow-style);
}

.project-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.project-heading {
    border: none;
    margin-top: 0;
}

.project-button {
    font-size: 100%;
    border: var(--golden-color) 1px solid;
    color: var(--golden-color);
}

hr {
    color: var(--golden-color-dark);
    margin: 1rem 0;
}

input, textarea {
    color: var(--text-color);
    background-color: var(--back-background-color);
    border: var(--regular-border) 1px solid;
    font-family: "Oxygen Mono", monospace;
    font-size: 100%;
    padding: 0.2rem;
}

.table-date {
    color: var(--blue-color);
    padding-right: 2rem;
    text-shadow: var(--glow-style);
}

.pd-navigation {
    display: flex;
    justify-content: space-between;
}
