@import url(colors.css);

* {
    font-family: 'MonospaceTypewriter', monospace;
    src: url("/assets/MonospaceTypewriter.ttf");
}

body {
    background-color: var(--c-background);
    color: var(--c-text);
}

h1, h2, h3, nav {
    background: var(--g-headings-d);
    color: var(--c-gold-d);
}

.golden {
    color: var(--c-gold)
}

.d-golden {
    color: var(--c-gold-dark);
}

.condemn {
    color: #cc0000;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    border: var(--c-gold) 1px;
}

h1 {
    color: var(--c-gold);
    padding: 0.4rem;
    padding-left: 1rem;
    border-radius: 0.4rem;
    border: 1px gray;
    box-shadow: var(--c-gold) 0 0 0.2rem;
}

h2 {
    color: var(--c-gold-dark);
    padding: 0.4rem;
    padding-left: 1rem;
    border-radius: 0.4rem;
    border: 1px gray;
    box-shadow: var(--c-gold-dark) 0 0 0.2rem;
}

h3 {
    color: var(--c-gold-dark);
    padding: 0.4rem;
    padding-left: 1rem;
    border-radius: 0.4rem;
    border: 1px gray;
    box-shadow: var(--c-gold-dark) 0 0 0.2rem;
}

section {
    background-color: rgba(255, 215, 0, 0.05);
    padding: 1rem;
    box-shadow: var(--c-gold-dark) 0 0 0.2rem;
    border-radius: 0.4rem;
    margin: 1rem 0;
}

p:first-child {
    margin-top: 0;
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.list-spacer {
    position: relative;
    left: 0.5rem;
}

li:first-child {
    margin-top: 0;
}

li {
    margin: 1rem 0;
}

li:last-child {
    margin-bottom: 0;
}

.eternal {
    color: var(--c-eternity);
}

.infinite {
    color: var(--c-infinity);
}

.real {
    color: var(--c-reality);
}

a {
    color: var(--c-gold);
    text-decoration: none;
}

a:hover {
    color: var(--c-gold-dark);
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
}

a:focus {
    color: cyan;
    outline: 1px solid cyan;
}

a:visited {
    color: var(--c-gold);
    text-decoration: none;
}

button {
    background: var(--g-button);
    color: black;
    border: 0px;
    border-radius: 0.2rem;
}

button:hover {
    background: var(--g-button-hover);
    box-shadow: var(--c-gold) 0 0 0.5rem;
    text-shadow: var(--c-gold) 0 0 0.4rem;
    color: var(--c-gold);
    border: 0px;
    border-radius: 0.2rem;
}

button:active {
    background: var(--g-button-active);
    box-shadow: beige 0 0 0.5rem;
    text-shadow: beige 0 0 0.4rem;
    color: white;
    border: 0px;
    border-radius: 0.2rem;
}

button:disabled {
    background: var(--g-button-disabled);
    color: black;
    border: 0px;
    border-radius: 0.2rem;
}

button:hover:disabled {
    background: var(--g-button-disabled);
    color: black;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    border-radius: 0.2rem;
}