nav {
    color: white;
    padding: 0.4rem;
    box-shadow: gold 0 0 0.2rem;
    border: 1px gray;
    margin: 0 0 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.michtah {
    color: gold;
    font-weight: bold;
    text-shadow: gold 0 0 0.3rem;

}

nav p {
    margin: 0rem;
}

nav hr {
    color: gray;
    margin: 0.2rem;
}

nav a {
    color: gold;
    text-decoration: none;
    text-shadow: gold 0 0 0.2rem;
}

nav a:visited {
    color: gold;
    text-decoration: none;
    text-shadow: gold 0 0 0.2rem;
}

nav a:hover {
    color: goldenrod;
    text-decoration: underline;
}

nav a:active {
    color: cyan;
    text-decoration: underline;
    font-weight: bold;
}

nav a:focus {
    color: cyan;
    outline: 2px cyan;
    text-decoration: none;
}

nav button {
    background: #ffc02e;
    background: linear-gradient(0deg, rgba(255, 192, 46, 1) 0%, rgba(255, 172, 28, 1) 50%, rgba(255, 214, 117, 1) 50%, rgba(255, 205, 79, 1) 100%);
    color: black;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:hover {
    background: #574200;
    background: linear-gradient(0deg, rgba(87, 66, 0, 1) 0%, rgba(26, 26, 26, 1) 50%, rgba(26, 26, 26, 1) 50%, rgba(140, 105, 0, 1) 100%);
    box-shadow: gold 0 0 0.5rem;
    text-shadow: gold 0 0 0.4rem;
    color: gold;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:active {
    background: #574200;
    background: linear-gradient(0deg, rgba(87, 66, 0, 1) 0%, rgba(26, 26, 26, 1) 50%, rgba(26, 26, 26, 1) 50%, rgba(140, 105, 0, 1) 100%);
    box-shadow: beige 0 0 0.5rem;
    text-shadow: beige 0 0 0.4rem;
    color: white;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:disabled {
    background: #a8905d;
    background: linear-gradient(0deg, rgba(168, 144, 93, 1) 0%, rgba(145, 131, 74, 1) 50%, rgba(196, 174, 106, 1) 50%, rgba(194, 161, 78, 1) 100%);
    color: black;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:hover:disabled {
    background: #a8905d;
    background: linear-gradient(0deg, rgba(168, 144, 93, 1) 0%, rgba(145, 131, 74, 1) 50%, rgba(196, 174, 106, 1) 50%, rgba(194, 161, 78, 1) 100%);
    color: black;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    border-radius: 0.2rem;
}