nav {
    color: white;
    padding: 0.4rem;
    box-shadow: gold 0 0 0.2rem;
    border: 1px gray;
    margin: 0 0 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.michtah {
    color: gold;
    font-weight: bold;
    text-shadow: gold 0 0 0.3rem;

}

nav p {
    margin: 0rem;
}

nav hr {
    color: gray;
    margin: 0.2rem;
}

nav a {
    color: gold;
    text-decoration: none;
    text-shadow: gold 0 0 0.2rem;
}

nav a:visited {
    color: gold;
    text-decoration: none;
    text-shadow: gold 0 0 0.2rem;
}

nav a:hover {
    color: goldenrod;
    text-decoration: underline;
}

nav a:active {
    color: cyan;
    text-decoration: underline;
    font-weight: bold;
}

nav a:focus {
    color: cyan;
    outline: 2px cyan;
    text-decoration: none;
}

nav button {
    background: #d1892a;
    background: linear-gradient(0deg, rgba(209, 137, 42, 1) 0%, rgba(255, 210, 87, 1) 71%, rgba(230, 164, 50, 1) 99%);
    color: black;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:hover {
    background: #704511;
    background: linear-gradient(0deg, rgba(112, 69, 17, 1) 0%, rgba(186, 143, 24, 1) 71%, rgba(156, 108, 26, 1) 100%);
    box-shadow: gold 0 0 0.5rem;
    text-shadow: gold 0 0 0.4rem;
    color: gold;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:active {
    background: #704511;
    background: linear-gradient(0deg, rgba(112, 69, 17, 1) 0%, rgba(186, 143, 24, 1) 71%, rgba(156, 108, 26, 1) 100%);
    box-shadow: beige 0 0 0.5rem;
    text-shadow: beige 0 0 0.4rem;
    color: white;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:disabled {
    background: #6b583d;
    background: linear-gradient(0deg, rgba(107, 88, 61, 1) 0%, rgba(156, 135, 78, 1) 71%, rgba(117, 97, 61, 1) 100%);
    color: black;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:hover:disabled {
    background: #6b583d;
    background: linear-gradient(0deg, rgba(107, 88, 61, 1) 0%, rgba(156, 135, 78, 1) 71%, rgba(117, 97, 61, 1) 100%);
    color: black;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    border-radius: 0.2rem;
}