@import url(../../colors.css);

nav {
    color: white;
    padding: 0.4rem;
    box-shadow: var(--eternity-color) 0 0 0.2rem;
    border: 1px gray;
    margin: 0 0 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.michtah {
    color: var(--gold-color);
    font-weight: bold;
    text-shadow: var(--gold-color) 0 0 0.3rem;
}

#explosive-hazard {
    width: 1rem;
    height: 1rem;
    transform: translateY(0.1rem) translateX(0.1rem);
    border-radius: 0.5rem;
    margin-top: 0;
    box-shadow: var(--gold-color) 0 0 0.3rem;
}

nav p {
    margin: 0;
}

nav hr {
    color: gray;
    margin: 0.2rem;
}

nav a {
    color: var(--eternity-color-visible);
    text-decoration: none;
    text-shadow: var(--eternity-color-visible) 0 0 0.2rem;
}

nav a:visited {
    color: var(--eternity-color-visible);
    text-decoration: none;
    text-shadow: var(--eternity-color-visible) 0 0 0.2rem;
}

nav a:hover {
    color: var(--eternity-color-dark);
    text-decoration: underline;
}

nav a:active {
    color: var(--eternity-color-dark);
    text-decoration: underline;
    font-weight: bold;
}

nav a:focus {
    color: cyan;
    outline: 2px cyan;
    text-decoration: none;
}

nav button {
    background: var(--button-background-eternal);
    color: black;
    text-shadow: var(--eternity-color-light) 0 0 0.2rem;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:hover {
    background: var(--button-background-eternal-hover);
    box-shadow: var(--eternity-color) 0 0 0.5rem;
    text-shadow: var(--eternity-color) 0 0 0.4rem;
    color: var(--eternity-color-light);
    border: 0px;
    border-radius: 0.2rem;
}

nav button:active {
    background: var(--button-background-eternal-hover);
    box-shadow: var(--eternity-color) 0 0 0.5rem;
    text-shadow: var(--eternity-color) 0 0 0.4rem;
    color: white;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:disabled {
    background: var(--button-background-eternal-disabled);
    color: black;
    border: 0px;
    border-radius: 0.2rem;
}

nav button:hover:disabled {
    background: var(--button-background-eternal-disabled);
    color: black;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    border-radius: 0.2rem;
}